# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
out/
release/

# Electron
*.exe
!assets/open-drawer.exe
*.msi
*.dmg
*.AppImage
*.snap
*.deb
*.rpm

# Env / IDE
.env
.DS_Store
.vscode/
.idea/
